// Secrets.xcconfig.example - このファイルをコピーして Secrets.xcconfig を作成してください。
// cp Secrets.xcconfig.example Secrets.xcconfig

FACEBOOK_APP_ID = YOUR_FACEBOOK_APP_ID
FACEBOOK_CLIENT_TOKEN = YOUR_FACEBOOK_CLIENT_TOKEN
FACEBOOK_DISPLAY_NAME = Escape Nine: Endless
FACEBOOK_URL_SCHEME = fbYOUR_FACEBOOK_APP_ID
